<%= render "shared/partial"%>

<section class="form-wrapper">

<div class="title">
<h2>予定の編集</h2>
</div>

<%= form_with model: @user do |f| %>

<table class="new-table">
    <tr>
        <th><%= f.label :title ,"タイトル" %></th>
        <td><%= f.text_field :title %></td>
    <tr>
        <th><%= f.label :starttime ,"開始日" %></th>
        <td><%= f.date_field :starttime %></td>
    </tr>
    <tr>
        <th><%= f.label :endtime ,"終了日" %></th>
        <td><%= f.date_field :endtime %></td>
    </tr>
    <tr class="checkbox">
        <th><%= f.label :checkbox ,"終日の場合はチェックを入れます" %></th>
        <td><%= f.check_box :checkbox %></td>
        <td>
        </td>
    </tr>
    <tr>
        <th><%= f.label :memo ,"スケジュールメモ" %></th>
        <td><%= f.text_area :memo %></td>
    </tr>
</table>
   
   <div>
       <ul>
           <li><%= link_to "キャンセル", :users %></li>
           <li><%= f.submit "保存" %></li>
       </ul>
   </div>
 <% end %>
 
 <% if flash[:delete] %>
<p class="delete"><%= flash[:delete] %></p>
<% end %>
 
 </section>