<%= render "shared/partial"%>

<% if flash[:success] %>
<p class="success"><%= flash[:success] %></p>
<% end %>

<section class="content">
<div class="title">
<h2>予定一覧</h2>
 <p><%= link_to "新規追加", :new_user %></p>
</div>
<table class="index-table">
    <thead>
        <tr>
            <th>ID</th>
            <th>タイトル</th>
            <th>開始日</th>
            <th>終了日</th>
            <th>終日</th>
            <th>更新日時</th>
            <th>詳細</th>
            <th>編集</th>
            <th>削除</th>
        <tr>
    <thead>
    
    <tbody>
        <% @users.each do |user|%>
        <tr>
            <td><%= user.id %></td>
            <td><%= user.title %></td>
            <td><%= user.starttime.to_s(:datetime_jp)%></td>
            <td><%= user.endtime.to_s(:datetime_jp)%></td>
            <td class="checkbox">
            <% if user.checkbox == true %>
             ○
            <% else user.checkbox == false %>

            <% end %>
            </td>
            <td><%= user.updated_at.to_s(:default) %></td>
            <td class="option">
            <%= link_to "詳細",user %>
            </td>
            <td class="option">
            <%= link_to "編集", [:edit, user] %>
            </td>
             <td class="option">
            <%= link_to "削除", user, method: :delete, data: { confirm: "本当に削除しますか？"}%>
            </td>
        </tr>
        <% end %>
    </tbody>
</table>

<div class="count">
    <p>予定合計<%= User.count %>件</p>
    <p>本日の日付 <%= Date.today.to_s(:datetime_jp)%></p>

</div>
</section>

